<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <title>Little by Little Fitness</title>
</head>

<body>
    <div class="main">
        <div class="topnav">
            <a href="/" class="active">Home</a>
            <a href="about">About</a>
            <a href="contact">Contact</a>
            <a href="/auth/login" class="split">Log in</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <br>
        <div class="header">
            <h1>Little by Little Fitness</h1>
        </div>
        <br>
        <div class="chat">
            <p>Need to chat?</p>
            <p>Schedule a quick intro consult</p>
        </div>
        <div class="container">
            <form action="action_page.php">

                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your first name..">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                <label for="number">Phone Number</label>
                <input type="text" id="number" name="phonenumber" placeholder="(123)456-7890">

                <label for="email">Email</label>
                <input type="text" placeholder="Enter Email" name="email" required>

                <label for="subject1">Tell me a little bit about you</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

                <label for="subject2">If anything, what have you tried before?</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

                <label for="subject3">What are your goals?</label>
                <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>

                <label for="personal">Do you have any injuries and/or restrictions?</label>
                <input type="text" id="personal" name="personal" placeholder="Write something..">

                <input type="submit" value="Submit">

            </form>
        </div>
    </div>
    <footer>
        <div class="foot">
            <img src="{{ url_for('static', filename='logo1.jpg') }}">
        </div>
    </footer>
</body>

</html>