<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='food.css') }}">
    <title>Little by Little Fitness</title>
</head>

<body>
    <div class="main">
        <div class="topnav">
            <a href="/" class="active">Home</a>
            <a href="about">About</a>
            <a href="contact">Contact</a>
            <a href="food">Macro Data</a>
            <a href="/auth/login" class="split">Log in</a>
            <a href="/" class="split">Log out</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <br>
        <div class="container">
            <div class="header">
                <h1>Little by Little Fitness</h1>
            </div>
            <p style="padding-top: 3%;">
                Check food macros <br>
            </p>
            <br><br>
            <div class="search">
                <form action="/recipes">
                    <div class="input-group mb-3" style="max-width: 50%;">
                        <input type="text" class="form-control" placeholder="Ingredients" aria-label="Ingredients"
                            aria-describedby="button-addon2" name="ingredients">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit" id="button-addon2">Search</button>
                        </div>
                    </div>
            </div>
            <br>
            </form>
        </div>
    </div>
    <footer>
        <div class="foot">
            <img src="{{ url_for('static', filename='logo1.jpg') }}">
        </div>
    </footer>
</body>

</html>