<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Little By Little Fitness</title>
</head>
<body>
    <div class="topnav">
        <a href="home" class="active">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
        <a href="food">Recipes</a>
        <a href="login" class="split">Log in</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <h1>Little by Little fitness</h1>
    <h2>In Person Plans</h2>
    <p>
        1/Week $200 every month   1 on 1 coaching once a week, $50/session
        2/Week  $280 every month  1 on 1 coaching  twice a week $35/session
        3/Week  $360 every month 1 on 1 coaching three times a week $30/session
        4/week $400 every month 1 on 1 coaching four times a week $25/session</p>
    
</body>
</html>