<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='training.css') }}">
    <title>Little By Little Fitness</title>
</head>
<body>
    <div class="topnav">
        <a href="/" class="active">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
        <a href="food">Macro Data</a>
        <a href="/auth/login" class="split">Log in</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <br>
    <div class="header">
        <h1>Little by Little Fitness</h1>
    </div>
    <div class="bline">
        <h3>Online Plans</h3>
        <br>
    </div>
    <div class="bodya">
    <p>Too busy to take care of yourself?  No such thing. Custom workout programming and nutritional support. Weekly Accountability & 24/7 access to me!

        <p>Full Access: $175 every month</p>
        <p>Workouts custom-designed for your goals and equipment and nutrition protocols based on your goals! Weekly
            Check-Ins</p>
        <p>Workout Coaching: $75 every month</p>
        <p>Custom workout programming & app access</p>
</div>
<footer>
    <div class="foot">
        <img src="{{ url_for('static', filename='logo1.jpg') }}">
    </div>
</footer>
</body>

</html>