<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hurricane&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Little By Little Fitness</title>
</head>

<body>
    <div class="topnav">
        <a href="/" class="active">Home</a>
        <a href="about">About</a>
        <a href="contact">Contact</a>
        <a href="food">Macro Data</a>
        <a href="/auth/login" class="split">Log in</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <h1>Register</h1>
    <form action="{{ url_for('auth.register') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <fieldset id="email-field">
                {{ form.email.label }}
                {{ form.email(class="form-control", placeholder = "Enter your Email here") }}
            </fieldset>
    
            <!-- <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" aria-describedby="emailHelp"> -->
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <fieldset id="first_name-field">
                {{ form.first_name.label }}
                {{ form.first_name(class="form-control", placeholder = "Enter your First Name here") }}
            </fieldset>
            <!-- <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" name="inputFirstName"> -->
        </div>
        <div class="form-group">
            <fieldset id="last_name-field">
                {{ form.last_name.label }}
                {{ form.last_name(class="form-control", placeholder = "Enter your Last Name here") }}
            </fieldset>
            <!-- <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" name="inputLastName"> -->
        </div>
        <div class="form-group">
            <fieldset id="password-field">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder = "Enter your password here") }}
            </fieldset>
    
            <!-- <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="inputPassword"> -->
        </div>
        <div class="form-group">
    
            <fieldset id="confirm_password-field">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control", placeholder = "Confirm your password here") }}
            </fieldset>
    
            <!-- <label for="inputPasswordConfirm">Confirm Password</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" name="inputPasswordConfirm"> -->
        </div>
        <p><small>Already have an account? <a href="{{ url_for('auth.login') }}">Login here.</a></small></p>
        {{ form.submit_button(class = "btn btn-primary btn-block") }}
        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
    </form>
    <footer>
        <div class="foot">
            <img src="{{ url_for('static', filename='logo1.jpg') }}">
        </div>
    </footer>
</body>

</html>