/* Create a top navigation bar with a black background color  */
.topnav {
    background-color: rgb(26, 25, 25);
    overflow: hidden;
    margin-left: 15px;
  }
  

.main {
    background-color: rgb(182, 191, 197);
}